@page
@model Models.Articles
@{
    ViewData["Title"] = "Produits";
}


<div>
    <h4>Cave</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Famille)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
    </dl>
</div>
<div>
    <a asp-page="/Index">Back to Index</a>
</div>
